<nav-page id="app-page" class="customstyle">
    <div class="bar bar-header">
      <div class="h1 title">Select a color</div>
      <button class="button button-clear button-positive" ng-click="saveChannels()">Save</button>
    </div>
  <content style="background-color: {{bgstyle}};" 
           has-header="true"
           scroll="false">
      <div class="list color-selector">
        <div class="item item-divider">
          Hue
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="level" min="0" max="1" step="0.001" ng-model="hsv.hue">
          <i class="icon ion-ios7-plus-outline"></i>
        </div>
        <div class="item item-divider">
          Saturation
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="level" min="0" max="1" step="0.001" ng-model="hsv.saturation">
          <i class="icon ion-ios7-plus-outline"></i>
        </div>
        <div class="item item-divider">
          Brightness
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="level" min="0" max="1" step="0.001" ng-model="hsv.brightness">
          <i class="icon ion-ios7-plus-outline"></i>
        </div>
      </div>
  </content>
</nav-page>
